<h3>Formulaire d'annonce</h3>

{#  On laisse vide la vue pour l'instant, on la comblera plus tard
    lorsqu'on saura afficher un formulaire.
#}

<form class="form-horizontal" action="" method="post">
    Ici se trouvera le formulaire.
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
</form>
<hr>
